html, body {
    height: 100%;
}

body {
    color: black;
    background-color: white;

    font-family: "Open Sans", -apple-system, "Roboto", "Helvetica Neue", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    position: relative;
    z-index: 1;
    min-height: 100px;
    color: white;
    background-color: #282828;
}
.copyright {
    padding-top: 10px;
}

.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -80px;
}

.page-wrapper:after {
  display: block;

  content: "";
}

.footer-wrapper, .page-wrapper:after {
  height: 80px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar.navbar-info {
    z-index: 1;
    background-color: #282828;
}

.form-group .form-control,
.form-control {
    background-image: linear-gradient(#05A5F6, #05A5F6), linear-gradient(#D2D2D2, #D2D2D2);
}

.navbar.navbar-info .form-group {
    margin-top: 7px;
}

.text-blue {
    color: #05A5F6;
}

footer .col-xs-6 img {
    vertical-align: baseline;
}

.img-logo {
    max-height: 40px;
}

.side-menu {
    position: fixed;
    z-index:0;
    top: 0;
    left: 0;

    width: 50px;
    height: 100%;

    color: white;
    background-color: #282828;
}

.app-container {
    min-height: 700px;
    margin-left: 50px;
    background: #092756;
    color: white;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
    padding: 40px 0;
}

.navbar-right li a {
    position: relative;
}

.badge-notification {
    position: absolute;
    top: 8px;
    left: 56%;

    min-width: 8px;
    padding-right: 4px;
    padding-left: 4px;

    text-align: center;
    text-align: center;

    color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 0;

    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

.badge-notification-red {
    background-color: #ed1c40;
}

.badge-notification-blue {
    background-color: #05A5F6;
}

.avatar-wrapper {
    margin-left: 12px;
}


.background-2 {

 }
