<div class="modal-header">
    <h4 class="modal-title">Provider Appointment Confirmed!</h4>
</div>
<div class="modal-body">
    <p>
    	Appointment for <b>{{ appointment.veteran.firstName }} {{ appointment.veteran.lastName }}</b> on <b>{{ appointment.startDate | date:'fullDate' }}</b> at <b>{{ appointment.startDate | date:'shortTime' }}</b> with <b>{{ appointment.provider.name }}</b> has been confirmed.
    </p>
    <p>
        A text notifcation has been sent to {{ appointment.veteran.firstName }} {{ appointment.veteran.lastName}}
    </p>
	<p class="text-center">
		Thank you for using TriWest Appointing!
	<p>
</div>
<div class="modal-footer">
	<div class="row row-form">
		<div class="col-xs-12 text-right">
			<button type="button" class="btn btn-primary" ng-click="closeModal('modal2');scheduleAppointment(appointment)">Close Popup</button>
		</div>
	</div>
</div>
