<nav class="side-menu">
    <ul class="list-unstyled">
        <li>
            <a href="#" ui-sref="app.search">
                <i class="fa fa-fw fa-home"></i>
            </a>
        </li>
        <li>
            <a href="#" ui-sref="app.results">
                <i class="fa fa-fw fa-bar-chart"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-desktop"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-edit"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-th"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-map-marker"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-file-o"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-ellipsis-h"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-fw fa-toggle-right"></i>
            </a>
        </li>
    </ul>
</nav>
