<footer>
    <div class="container">
        <div class="row-fluid clearfix">
            <div class="col-xs-6">
                <a href="http://www.threewiresys.com/" target="_blank" class="hover-transparent">
                    <img class="img img-responsive img-logo" src="assets/images/logo.png" alt="Three Wire Systems, LLC" />
                </a>
            </div>
            <div class="col-xs-6 text-right copyright">
                <h6>©2016 Three Wire Systems, LLC. All rights reserved.</h6>
            </div>
        </div>
    </div>
</footer>
